.cuadrito {
    /* propiedades decorativas */
    border: solid 1px black;
    padding: 5px;
    display: inline-block;
    font-size: 32px;
    font-family: Arial;
    /* propiedades que hacen el "problema" */
    width: 100px;
    height: 110px;
    overflow: hidden;
    }
    